<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap="bootstrap.php" colors="true">
	
    <testsuites>
        <testsuite name="Main Test Suite">
            <directory>./test/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./test</directory>
            </exclude>
        </whitelist>
    </filter>
	
</phpunit>
