{
	"localhost": {
		"base": 	"../app/",
		"plugins": 	"../app/plugins",
		"debug": 	true
	},
	"domain.com": {
		"base": 	"../app/",
		"plugins": 	"../app/plugins",
		"cdn": 		"http://cdn.'.$_SERVER['SERVER_NAME'].'/"
	}
}
