body {
  background-color: #d0d0d0;
}

#article {
	width:960px;
	margin:0 auto;
}

h1 {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:40px;
	font-style:italic;
	color:#333;
	text-align:center;
	border-bottom:1px dotted #999;
	padding-bottom:20px;
	margin:0 0 20px 0;
	text-shadow: 0px 2px 3px #888; /* FF3.5+, Opera 9+, Saf1+, Chrome */
}

h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-size:35px;
	color:#666;
	text-align:center;
	margin:0;
	text-shadow: 0px 1px 0px #FFF;
	/*filter: dropshadow(color=#FFF,offX=0,offY=1);*/
}

p {
	text-align:center;
	border-top:1px dotted #999;
	padding-top:20px;
}
a {
	color:#306fe5;
	font-size:22px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-style:italic;
	text-align:center;
	text-decoration:none;
	-moz-transition:color 0.3s ease-in-out;
	-webkit-transition:color 0.3s ease-in-out;
	transition:color 0.3s ease-in-out;
}

a:hover {
	color:#000;
}
