body {
  background-color: #eee;
  color: #000;
  margin-top:20px;
  min-width:960px;
}
#wrap {
  background-color:#fff;
  margin:0 auto;
  width:960px;
  border-width: 0 1px;
  border-style: solid;
}
#header {
  background-color: #898;
  color: #fff;
  border-width: 1px 0;
  border-style: solid;
}
#header h1 {
  padding:5px;
  margin:0;
}
#header a {
  color: #fff;
}
#nav {
  background-color: #aba;
  color: #000;
  padding:5px;
  text-align: right;
  border-bottom: 1px;
  border-style: solid;
}
#nav ul {
  margin:0;
  padding:0;
  list-style:none;
}
#nav li {
  display:inline;
  margin:0;
  padding:0;
}
#nav a {
  text-decoration: none;
  background-color: #bcb;
  color: #000;
  padding: 4px 5px 4px 5px;
  border: solid 1px #000;
}
#nav a:hover {
  text-decoration: none;
  background-color: #787;
  color: #fff;
  padding: 4px 5px 4px 5px;
}
#main {
  background:#fff;
  float:right;
  width:750px;
}
#main h2, #main h3, #main p {
  padding: 4px 0;
}
#main p {
  line-height: 14px;
}
#sidebar {
  color: #000;
  float:left;
  width:200px;
}
#sidebar h3 {
  margin: 5px 10px 1px 10px;
  padding-bottom: 0;
}
#sidebar ul {
  border: solid 1px #fff;
  border-bottom-width: 0;
  margin: 0px 10px;
  margin-bottom: 2px;
}
#sidebar ul, #sidebar ul li {
  list-style-type: none;
  display: block;
}
#sidebar ul li {
  border-bottom: solid 1px #fff;
}
#sidebar ul li, #sidebar ul li a {
  margin: 0;
  display: block;
  padding: 0;
  line-height: normal;
}
#sidebar ul li a {
  display: block;
  padding: 2px 5px 3px 5px;
}
#sidebar ul li a:link, #sidebar ul li a:visited, #sidebar ul li a:active {
  text-decoration: none;
  background-color: #cdc;
  color: #000;
}
#sidebar ul li a:hover {
  text-decoration: none;
  background-color: #898;
  color: #fff;
}
#sidebar h3, #sidebar p {
  padding:0 10px 0 0;
}
#footer {
  background-color: #898;
  color: #fff;
  text-align: center;
  clear:both;
  border-width: 1px 0;
  border-style: solid;
}
#footer p {
  padding:5px;
  margin:0;
}
#wrap, #header, #footer, #nav, #nav ul li a, #sidebar, #sidebar ul, #sidebar ul li {
  border-color: #565;
}

table {
  width: auto;
  border: 1px solid #565;
  background-color: #fff;
}

th {
  padding: 3px 4px;
  color: #fff;
  background-color: #898;
  border-top: 1px solid #565;
  border-bottom: 1px solid #565;
  text-align: left;
}

td {
  text-align: left;
  font-size: 11px;
  padding: 4px;
  line-height: 16px;
}

input, textarea {
  font-size: 11px;
  font-weight: normal;
  cursor: text;
  vertical-align: middle;
  padding: 2px;
  color: #000;
  border: 1px solid #565;
  background-color: #ded;
}

input:hover, textarea:hover {
  background-color: #787;
  color: #fff;
}

input.button {
  padding: 1px 3px;
  background-color: #aba;
  color: #000;
  cursor: pointer;
  line-height: 13px;
}

input.button:hover {
  background-color: #898;
  color: #fff;
}

option {
  padding: 0 12px 0 0;
  color: #000;
}

option.disabled-option {
  color: graytext;
}

.pagination span {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  background-color: #787;
  color: #fff;
  border: 1px solid #787;
  padding: 0px 3px 1px 3px;
}

.pagination a {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  text-decoration: none;
  background-color: #bcb;
  color: #000;
  border: 1px solid #565;
  padding: 0px 3px 1px 3px;
}
.pagination a:hover {
  font-family: Tahoma,arial,Verdana,Sans-serif;
  border-color: #787;
  background-color: #787;
  color: #fff;
}